%h3 Reply now:
= simple_form_for :message, url: [:reply, conversation] do |f|
  = f.input :subject, as: :hidden, input_html: {value: conversation.subject}
  = f.input :body, as: :text, label: "Your Message", input_html: { style: "width: 75%; height: 100px"}
  .form-actions
    = f.button :submit, "Send"
    =# submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'