body {
  background: white;
  color: #58585A;
  font: normal 13px/1.2 "Sanchez", serif;
  font-family: 'Sanchez';
}

figure { margin: 0; }

h1, h2, h3, h4 {
  margin: 0; padding: 0;
}

h1 { font-weight: normal; font-size: 36px; }
h2 { color: #d9d9d9; font-weight: 400; font-size: 24px; }
h3 { color: #343434; font-weight: 400; font-size: 16px; }
h4 { color: #7dc6ca; font-weight: 400; font-size: 24px; } // light-blue
p { line-height: 1.4; }

a {
  color: #343434;
  cursor: pointer;
  text-decoration: none;
  //@include transition-property(color);
  //@include transition-duration(.1s);
  //@include transition-timing-function(ease-in-out);
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.hide {
  display: none;
}

.wrapper {
  // max-width: 1140px;
  @include clearfix;
  margin: 0 auto;
  background-color: #ecf0de;

}
