doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title Every Last Morsel
    meta name="keywords" content="template language"
    meta name="author" content="author"
    link rel="icon" type="image/png" href="favicon.png"
    link rel="stylesheet" type="text/css" href="/stylesheets/application.scss"
    script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"
    script type="text/javascript" src="/javascript/jquery.syncHeight.min.js"

  body
    == partial("public/_header")

    .wrapper
      == partial("public/home")


    / == partial("public/_footer")

    javascript:

      function sync() {
        $('.section-claims-image, .section-claims-copy-wrapper').syncHeight({ 'updateOnResize': true });
        unSyncIfMobile();
      }

      function unSyncIfMobile() {
        if($(window).width() < 650) { $('.section-claims-image, .section-claims-copy-wrapper').unSyncHeight(); }
      }

      if (navigator.appName == "Microsoft Internet Explorer") {
          $(window).load(function () { 
            sync(); 
            $(window).resize(function(){ unSyncIfMobile(); });
          });
      }
      else {
          window.addEventListener('load', function () { 
            sync();
            $(window).resize(function(){ unSyncIfMobile(); });
          }, false);
      }

      $(document).ready(function(){

          $("#subscribe-form").submit(function() {
              var email = $("#subscribe-email").val();
              if (email == "") $("#subscribe-form span.return").html("Pleaes enter an email.").addClass("return-error");
              $.get($("#subscribe-form").attr("action"), $("#subscribe-email").serialize(), 
                function(data) {

                  console.log(data);
                  if (data['code'] != null ) {
                    if (data['code'] == 214) 
                      $("#subscribe-form span.return").html("You've already subscribed!").addClass("return-error");
                    else if (data['code'] == 502)
                      $("#subscribe-form span.return").html("Invalid email address.").addClass("return-error");
                    else 
                      $("#subscribe-form span.return").html(data['error']).removeClass("return-success").addClass("return-error");
                  }
                  else {
                    $("#subscribe-form span.return").html("Subscribed!").removeClass("return-error").addClass("return-success");
                  }

                  $("#subscribe-email").val("");

                }, 
                "json" );
                return false;
          });

      });

      // Start of Zopim Live Chat Script
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?1MGwnVKybDAHcpxuscdjkVpRo0KMK7qX';z.t=+new Date;$.
      type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
      // End of Zopim Live Chat Script

      // Google Analytics Start
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42260540-1', 'everylastmorsel.com');
      ga('send', 'pageview');
      // Google Analytics End