<!-- <p class="buttons-set">
    <a href="http://alpha.everylastmorsel.com/profile/about-edit/" class="btn wider btn-orange">
        <span>Edit About</span>
    </a>
</p> -->

<article>

    <ul>
        <% @posts.each do |post| %>
            <li>
            	<h2> <%= post.title %> </h2>
                <%= post.text %>
            </li>
        <% end %>
    </ul>

</article>