/** Icons */
// .icon {
//     background: transparent url("/assets/sprite.png") no-repeat -3px -4px;
//     display: inline-block;
//     height: 16px;
//     width: 18px;
// }
// .icon.twitter,
// .icon.facebook { height: 30px; width: 30px; }
// .icon.twitter { background-position: -100px -250px; }
// .icon.facebook { background-position: -150px -250px; }
// .icon.location { background-position: -3px -4px; }
// .icon.globe { background-position: -3px -49px; }
// .icon.person,
// .icon.drawer,
// .icon.cog { height: 20px; width: 20px; }
// .icon.person { background-position: -50px -249px; }
// .icon.drawer { background-position: -50px -287px; }
// .icon.cog { background-position: -50px -328px; }
// .icon.secure { background-position: -4px -379px; width: 40px; }