@import "compass/css3";
@import "compass/utilities";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// STICKY FOOTER (CAUSES ERRORS IN RESPONSIVE)
.wrapper {
   min-height: 100%;
   position: relative;
   // height: auto !important;
   // height: 100%;
   /* Negative indent footer by it's height */
   // margin: 0 auto -150px;
}

.user {  margin-bottom: 15px; h3 { overflow: hidden; height: 1em; } }
.crop {  margin-bottom: 15px; h3 { overflow: hidden; height: 1em; } }

.elm-container { @extend .container; margin: 20px auto; @include clearfix; background: #fff; }
.elm-container-top { @extend .row; background: #7dc6ca; color: #fff; }
.elm-container-bottom { @extend .row; }

.elm-container-content { @extend .col-lg-12; .pagination { padding-left: 15px; } }
.elm-container-top-content { @extend .elm-container-content; padding: 0px 25px; }
.elm-container-bottom-content { @extend .elm-container-content; padding-top: 10px; }

.activities-container, .users-container, .crop_types-container { @extend .elm-container; }

.activities-top, .users-top, .crop_types-top { @extend .elm-container-top; }
.activities-bottom, .users-bottom, .crop_types-bottom { @extend .elm-container-bottom; }

.activities-top-content, .users-top-content, .crop_types-top-content { @extend .elm-container-top-content; }
.activities-bottom-content, .users-bottom-content, .crop_types-bottom-content { @extend .elm-container-bottom-content; }