@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(http://themes.googleusercontent.com/static/fonts/sanchez/v1/9T6om-IyqE2CuKLLQr0lcgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Sanchez';
  font-style: italic;
  font-weight: 400;
  src: local('Sanchez Italic'), local('Sanchez-Italic'), url(http://themes.googleusercontent.com/static/fonts/sanchez/v1/HsmMg_Kwn-sTuZvQJORnl7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
body {
  color: #58585A;
  // font: normal 13px/1.2 "Sanchez", serif;
  font-family: 'Sanchez';
}

/**
  Defaults
*/
h1 { font-weight: normal; font-size: 36px; }
h2 {
    color: #d9d9d9;
    font-weight: normal;
    font-size: 24px;
}
h3 {
    color: #343434;
    font-weight: normal;
    font-size: 16px;
}
h4 {
    color: #7dc6ca;
    font-weight: normal;
    font-size: 24px;
}
p { line-height: 1.4; }
a {
  color: #343434;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: color .1s ease-in-out;
  -o-transition: color .1s ease-in-out;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

img {
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}