.hero
  / font gotham htf black
  %h1.pitchfork FROM PITCHFORK 
  %h1 TO SALAD FORK
  .outer-border
    .action-block
      %p Every Last Morsel is a community where buyers, growers and friends gather to share the fruits of their labor.
      .get-started
        GET STARTED