<div id="sitewrap">

  <div class="ajaxfeedback">
    <span class="icon"></span>
    <span class="message"></span>
  </div>

  <div class="sitebody">

    <div class="fieldlist">
      <a class="addfield linkbutton" href="#">Add a field</a>
    </div>

    <div class="fieldsidebarwrap">

      <div class="fieldsidebar fieldeditform" id="editfieldform">
        <form class="stdform fieldeditform overlay" method="POST" action="/farm/fieldedit/">
          <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='5fb3d67fbbbb5a3a1d36de5d92d0f8ed' /></div>
          <input type="hidden" name="edit_field-farm_id" value="233" id="id_edit_field-farm_id" />
          <input type="hidden" name="edit_field-field_id" value="175" id="id_edit_field-field_id" />
          <h3>Edit Field</h3>
          <ul class="stdformlist">
            <li class="edit_field-name">
              <label for="id_edit_field-name">Field name:</label>
              <input name="edit_field-name" value="South" class="fieldnameinput" maxlength="100" type="text" id="id_edit_field-name" />
            </li>
            <li class="edit_field-bed_count">
              <label for="id_edit_field-bed_count"># of beds:</label>
              <input type="text" name="edit_field-bed_count" value="5.00" id="id_edit_field-bed_count" />
            </li>
            <li class="edit_field-bed_length">
              <label for="id_edit_field-bed_length">Bed length:</label>
              <input type="text" name="edit_field-bed_length" value="20.00" id="id_edit_field-bed_length" />
              <div class="helptext">Note: very big changes to bed length may round the field’s plantings +/- a few beds.</div>
            </li>
            <li class="edit_field-bed_width">
              <label for="id_edit_field-bed_width">Bed width:</label>
              <input type="text" name="edit_field-bed_width" value="4.00" id="id_edit_field-bed_width" />
            </li>
            <li class="submit">
              <a class="editfield cancel" href="#">Cancel</a> &nbsp;or&nbsp;
              <input type="submit" value="Save Field"/>
              <img class="loading" src="/assets/loading-dark-bkgd.gif" alt="Saving field&hellip;"/>
            </li>
          </ul>
          <div class="clearer"></div>
        </form>
      </div>


      <div class="fieldsidebar fieldeditform"  id="addfieldform">
        <form class="stdform fieldeditform overlay" method="POST" action="/farm/fieldedit/">
          <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='5fb3d67fbbbb5a3a1d36de5d92d0f8ed' /></div>
          <input type="hidden" name="add_field-farm_id" value="233" id="id_add_field-farm_id" />
          <input type="hidden" name="add_field-field_id" id="id_add_field-field_id" />
          <h3>Add Field</h3>
          <ul class="stdformlist">
            <li class="add_field-name">
              <label for="id_add_field-name">Field name:</label>
              <input id="id_add_field-name" type="text" class="fieldnameinput" name="add_field-name" maxlength="100" />
            </li>
            <li class="add_field-bed_count">
              <label for="id_add_field-bed_count"># of beds:</label>
              <input type="text" name="add_field-bed_count" id="id_add_field-bed_count" />
            </li>
            <li class="add_field-bed_length">
              <label for="id_add_field-bed_length">Bed length:</label>
              <input type="text" name="add_field-bed_length" id="id_add_field-bed_length" />
            </li>
            <li class="add_field-bed_width">
              <label for="id_add_field-bed_width">Bed width:</label>
              <input type="text" name="add_field-bed_width" id="id_add_field-bed_width" />
            </li>
            <li class="submit">
              <a class="addfield cancel" href="#">Cancel</a> &nbsp;or&nbsp;
              <input type="submit" value="Add Field"/>
              <img class="loading" src="/assets/loading-dark-bkgd.gif" alt="Adding field&hellip;"/>
            </li>
          </ul>
          <div class="clearer"></div>
        </form>
      </div>

      <a class="addcrop" id="sidebaraddcrop" href="#">Add a crop</a>
      <div class="fieldsidebar selected cropadder last">
        <form class="stdform cropaddform overlay" method="post" action="/farm/cropedit/">
          <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='5fb3d67fbbbb5a3a1d36de5d92d0f8ed' /></div>
          <h2>Add a Crop to This Field</h2>
          <input type="hidden" name="add_crop-field_id" value="175" id="id_add_crop-field_id" />
          <input type="hidden" name="add_crop-amt_type" value="perweek" id="id_add_crop-amt_type" />
          <input type="hidden" name="add_crop-bed_rounding" value="1" id="id_add_crop-bed_rounding" />
          <ul class="stdformlist">
            <li>
              <div class="cropname">
                <h3><label for="id_add_crop-group">Crop name</label></h3>
                <input id="id_add_crop-group" type="text" placeholder="Tomato" name="add_crop-group" maxlength="100" />
              </div>
              <div class="cropname">
                <h3><label for="id_add_crop-variety">Variety (optional)</label></h3>
                <input id="id_add_crop-variety" type="text" placeholder="Brandywine" name="add_crop-variety" maxlength="100" />
              </div>
              <div class="clearer"></div> 
            </li>
            <li>
              <h3>Desired Amount (including buffer)</h3>
              <div class="subsectionswitcher">
                <a class="selected amtperweektrigger" href="#">Amount per week &times; weeks</a>
                or
                <a class="totalforyeartrigger" href="#">Total for year</a>
              </div>

              <div class="amtperweekwrap" style="display: block;">
                <div class="inputsubsection amtperweek">
                  <label for="id_add_crop-amt_per_week">Amount per week:</label>
                  <input type="text" name="add_crop-amt_per_week" id="id_add_crop-amt_per_week" />
                  <select class="yieldunit" name="add_crop-yield_unit">
                    <optgroup label="Weights">
                      <option value="1" >pounds</option>
                    </optgroup>
                    <optgroup label="Individuals">
                      <option value="2" >bunches</option>
                      <option value="3" >heads</option>
                      <option value="4" >ears</option>
                      <option value="7" >items</option>
                    </optgroup>
                    <optgroup label="Volumes">                    
                      <option value="5" >pints</option>
                      <option value="6" >quarts</option>
                    </optgroup>
                  </select>
                </div>
                <div class="inputsubsection forxweeks">
                  <label for="id_add_crop-for_n_weeks">For each of</label>
                  <input id="id_add_crop-for_n_weeks" type="text" class="twochar" name="add_crop-for_n_weeks" />
                  <label class="weekspostlabel" for="id_add_crop-for_n_weeks">weeks</label>                    
                  <div class="inputnote">
                    <label for="id_add_crop-for_n_weeks">(Weeks don&rsquo;t have to be consecutive.)</label>
                  </div>
                </div>
              </div>

              <div class="totalforyearwrap" style="display: none;">
                <label for="id_add_crop-total_for_year">Total for year:</label>
                <input type="text" name="add_crop-total_for_year" id="id_add_crop-total_for_year" />


                <select class="yieldunit" name="add_crop-yield_unit_b">

                  <optgroup label="Weights">
                    <option value="1" >pounds</option>
                  </optgroup>
                  <optgroup label="Individuals">
                    <option value="2" >bunches</option>
                    <option value="3" >heads</option>
                    <option value="4" >ears</option>
                    <option value="7" >items</option>
                  </optgroup>
                  <optgroup label="Volumes">                    
                    <option value="5" >pints</option>
                    <option value="6" >quarts</option>
                  </optgroup>
                </select>
              </div>

            </li>
            <li>
              <h3>Growth Guidelines</h3>
              <div class="inputsubsection">
                <label for="id_add_crop-yield_per_rf">Yield per row-foot:</label>
                <input id="id_add_crop-yield_per_rf" type="text" class="twochar" name="add_crop-yield_per_rf" />
                <select class="yieldunit" name="add_crop-yield_unit_c">
                  <optgroup label="Weights">
                    <option value="1" >pounds</option>
                  </optgroup>
                  <optgroup label="Individuals">
                    <option value="2" >bunches</option>
                    <option value="3" >heads</option>
                    <option value="4" >ears</option>
                    <option value="7" >items</option>
                  </optgroup>
                  <optgroup label="Volumes">                    
                    <option value="5" >pints</option>
                    <option value="6" >quarts</option>
                  </optgroup>
                </select>
              </div>
              <div class="inputsubsection rowsperbed">
                <label for="id_add_crop-rows_per_bed">Rows per bed:</label>
                <input id="id_add_crop-rows_per_bed" type="text" class="twochar" name="add_crop-rows_per_bed" />
              </div>
              <div class="inputsubsection daystomaturity">
                <label for="id_add_crop-days_to_maturity">Days to maturity:</label>
                <input id="id_add_crop-days_to_maturity" type="text" class="twochar" name="add_crop-days_to_maturity" />
              </div>
              <div class="inputsubsection seedrate">
                <label for="id_add_crop-seed_rate_per_1000">Seed per 1000’:</label>
                <input type="text" name="add_crop-seed_rate_per_1000" id="id_add_crop-seed_rate_per_1000" />
                <select class="seedunit" name="add_crop-seed_unit">
                  <option value="1" >seeds</option>
                  <option value="2" >pounds</option>
                  <option value="3" >ounces</option>
                </select>
              </div>
            </li>
            <li class="plantings">
              <h3>Plantings and Beds</h3>
              <label for="id_add_crop-plantings_count">Do</label> 
              <input id="id_add_crop-plantings_count" type="text" class="twochar inline" value="1" name="add_crop-plantings_count" />
              <label for="id_add_crop-plantings_count"><span class="plantingscountlabel">planting</span></label> (<span class="bedsperplanting">&ndash;&ndash;</span> <span class="bedsperplantinglabel">beds</span><span class="plantingscountlabel2"></span>)
              <div class="inputnote">
                <span class="bedfeetperplanting">&ndash;&ndash;&ndash;&ndash;</span> bed-ft<span class="plantingscountlabel3"></span>. 
                <span class="bedrounding">
                  Round beds to: 
                  <a class="bedrounding selected" href="#1">whole</a> 
                  <a class="bedrounding " href="#0.5"><sup>1</sup>/<sub>2</sub></a>
                  <a class="bedrounding " href="#0.25"><sup>1</sup>/<sub>4</sub></a>
                </span>
              </div>
            </li>
            <li class="submit">
              <a class="addcrop" href="#">Cancel</a> &nbsp;or&nbsp;
              <input type="submit" value="Schedule Crop"/>
              <img class="loading" src="/assets/loading-dark-bkgd.gif" alt="Adding crop&hellip;"/>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="fieldcontainer wide">
      <div class="fieldheading">
        <a class="addcrop" href="#">Add a Crop</a>
        <span class="separator">|</span>
        <a class="editfield" href="#">Edit Field</a>
      </div>
      <div class="graph fieldfullness">
        <div class="capacityline"></div>
        <div class="label">
          # of beds in use
        </div>
        <img class="loading" src="/assets/loading-light-bkgd.gif" alt=""/>
        <div class="innerwrap">
          <!-- Sample Bar: add one for everyday of the year -->
          <div class="bar " style="height: 0E+2%; left: 0.0%;">
            <div class="tooltipwrap">
              <div class="tooltip">
                Jan. 1: 0 beds
                <div class="tiptrianglewrap">
                  <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sample Bar -->
        </div>
      </div>
      <div class="plantwrap">
        <div class="calendaroverlay">
          <div class="calendarsegment jan"><div>Jan</div></div>
          <div class="calendarsegment feb"><div>Feb</div></div>
          <div class="calendarsegment mar"><div>Mar</div></div>
          <div class="calendarsegment apr"><div>Apr</div></div>
          <div class="calendarsegment may"><div>May</div></div>
          <div class="calendarsegment jun"><div>Jun</div></div>
          <div class="calendarsegment jul"><div>Jul</div></div>
          <div class="calendarsegment aug"><div>Aug</div></div>
          <div class="calendarsegment sep"><div>Sep</div></div>
          <div class="calendarsegment oct"><div>Oct</div></div>
          <div class="calendarsegment nov"><div>Nov</div></div>
          <div class="calendarsegment dec"><div>Dec</div></div>
        </div>

        <div class="plant first">
          <div class="plantheading">
            <span class="plantname">Dinosaur Kale</span>
            <span class="plantcontrols">
              <span class="separator">&bull;</span>
              <a class="control addplanting" href="#">Add a planting</a>
            </span>
          </div>
          <div class="successions">

            <span class="succession" style="left: 8.5165%; width: 20.3297%; height: 15px;" id="p463">
              <form class="plantingdata" method="post">
                <input type="text" name="planting_id" value="463"/>
                <input type="text" name="farm_id" value="233"/>
                <input type="text" name="field_id" value="175"/>
                <input type="text" name="est_planting_date" value="2013-02-01"/>
                <input type="text" name="est_harvest_date" value="2013-04-16"/>
              </form>
              <span class="originalstyle left">8.5165%</span>
              <span class="originalstyle width">20.3297%</span>

              <div class="tooltipwrap planting">
                <div class="tooltip">
                  <span class="date">Feb. 1</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>

              <div class="tooltipwrap harvest">
                <div class="tooltip">
                  <span class="date">April 16</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>
              
              <div class="draghandle whole"></div>
              <div class="draghandle harvest"></div>
            </span>

          </div>
        </div>


        <div class="plant">
          <div class="plantheading">
            <span class="plantname">Bell Boy Pepper</span>
            <span class="plantcontrols">
              <span class="separator">&bull;</span>
              <a class="control addplanting" href="#">Add a planting</a>
            </span>
          </div>
          <div class="successions">

            <span class="succession" style="left: 29.1209%; width: 24.1758%; height: 10px;" id="p464">
              <form class="plantingdata" method="post">
                <input type="text" name="planting_id" value="464"/>
                <input type="text" name="farm_id" value="233"/>
                <input type="text" name="field_id" value="175"/>
                <input type="text" name="est_planting_date" value="2013-04-17"/>
                <input type="text" name="est_harvest_date" value="2013-07-14"/>
              </form>
              <span class="originalstyle left">29.1209%</span>
              <span class="originalstyle width">24.1758%</span>

              <div class="tooltipwrap planting">
                <div class="tooltip">
                  <span class="date">April 17</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>

              <div class="tooltipwrap harvest">
                <div class="tooltip">
                  <span class="date">July 14</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>

              <div class="draghandle whole"></div>
              <div class="draghandle harvest"></div>
            </span>

            <span class="succession" style="left: 69.2308%; width: 30.7692%; height: 10px;" id="p466">
              <form class="plantingdata" method="post">
                <input type="text" name="planting_id" value="466"/>
                <input type="text" name="farm_id" value="233"/>
                <input type="text" name="field_id" value="175"/>
                <input type="text" name="est_planting_date" value="2013-09-10"/>
                <input type="text" name="est_harvest_date" value="2013-12-31"/>
              </form>
              <span class="originalstyle left">69.2308%</span>
              <span class="originalstyle width">30.7692%</span>
              <div class="tooltipwrap planting">
                <div class="tooltip">
                  <span class="date">Sept. 10</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>
              <div class="tooltipwrap harvest">
                <div class="tooltip">
                  <span class="date">Dec. 31</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>
              <div class="draghandle whole"></div>
              <div class="draghandle harvest"></div>
            </span>
          </div>
        </div>
<!-- 
        <div class="plant">
          <div class="plantheading">
            <span class="plantname">Brandywine Tomato</span>
            <span class="plantcontrols">
              <span class="separator">&bull;</span>
              <a class="control addplanting" href="#">Add a planting</a>
            </span>
          </div>
          <div class="successions">
            <span class="succession" style="left: 38.1868%; width: 26.9231%; height: 21px;" id="p462">
              <form class="plantingdata" method="post">
                <input type="text" name="planting_id" value="462"/>
                <input type="text" name="farm_id" value="233"/>
                <input type="text" name="field_id" value="175"/>
                <input type="text" name="est_planting_date" value="2013-05-20"/>
                <input type="text" name="est_harvest_date" value="2013-08-26"/>
              </form>
              <span class="originalstyle left">38.1868%</span>
              <span class="originalstyle width">26.9231%</span>
              <div class="tooltipwrap planting">
                <div class="tooltip">
                  <span class="date">May 20</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>
              <div class="tooltipwrap harvest">
                <div class="tooltip">
                  <span class="date">Aug. 26</span>
                  <div class="tiptrianglewrap">
                    <img class="tiptriangle" src="/assets/tip-triangle-small.png"/>
                  </div>
                </div>
              </div>
              <div class="draghandle whole"></div>
              <div class="draghandle harvest"></div>
            </span>
          </div>
        </div> -->


      </div>
    </div>
  </div>
  <div id="footerpush"></div>
</div>

<div id="preloadedimages">
  <img src="/assets/loading-light-bkgd.gif" alt=""/>
  <img src="/assets/loading-highlight-bkgd.gif" alt=""/>
  <img src="/assets/loading-dark-bkgd.gif" alt=""/>
  <img src="/assets/submit-button-bkgd-active.png" alt=""/>
  <img src="/assets/tick.png" alt=""/>
</div>