= login_required class: "actions", id: "new_blog_post_link" do
  = link_to t(:new_blog_post, scope: 'blogit.posts'), new_post_path

- if @posts.any?
  = render partial: "blogit/posts/post", collection: @posts, spacer_template: "blog_post_spacer", locals: { show_comments_count: (Blogit.configuration.include_comments == :active_records) }
- else
  = render partial: "blogit/posts/empty"

= paginate @posts , params: { route_set: :main_app }

/ - if params['controller'] == 'blogit/custom/posts'
/ 	= paginate @posts
/ 	/, :controller => "blogit/custom/posts", :action => "index"
/ - elsif params['controller'] == 'blogit/posts'
/ 	= paginate @posts, :controller => "blogit/posts", :action => "index"