@import "compass/css3";

.footer { 
    background: $gray-dark;
    @include clearfix;
    // height: 170px; 
    padding: 5px 0; 
    color: #fff;
    font-size: 14px;
    .container { background: $gray-dark; }
    a { color: #fff; }
}