@import "compass/css3";

.footer { 
    background: $gray-dark;
    @include clearfix;
    height: 170px; 
    padding: 5px 0; 
    color: #fff;
    font-size: 14px;
    .footer-left { text-align:left; }
    .footer-right { text-align:right; }
    .footer-center { text-align:center; }
    .container { background: $gray-dark; }
    a { color: #fff; }
}