.about-content {
    margin: 0px 70px;
    padding: 40px 40px;
    background: white;
}

.about-header {
    margin: 0 auto;
    margin-bottom: 50px;
}

.about-wrapper {
    h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    h2 {
        color: grey;
        text-align: center;
        margin-bottom: 55px;
    }

}

.two-column {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;

    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;
}

.the-people {
    // margin: 60px auto;
    width: 100%
}

h2.the-people-header { 
    width:100%; 
    font-size: 18px;
    line-height: 1;
    text-align:center; 
    text-transform: uppercase;
    margin:30px 0 40px; 
    position: relative;
} 
h2.the-people-header:before {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
h2.the-people-header span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

.team-bio {
    @include clearfix;
    margin: 0 auto percentage(50/960) auto;

    &.left {
        .team-bio-copy {
            padding: 0 percentage(100/960) 0 percentage(30/960);
        }
    }

    &.right {
        .team-bio-copy {
            text-align: right;
            padding: 0 percentage(30/960) 0 percentage(100/960);
        }
    }
}

.team-bio-copy {
    float: left;
    width: percentage(820/960);
    font-style: italic;
    display: block;

    h3 {
        margin-top: 0;
    }
}

.team-bio-image {
    float: left;
    border-radius: 50%;
    width: percentage(140/960);
    min-width: 10%;
    overflow: hidden;
    display: block;
}

.team-bio-image img {
    width: 100%;
}

.right-justify {
    text-align: right;
    width: 70%;
    padding-left: 15%;
}




