// @import "bootstrap-responsive";

.about-content {
	margin: 0px 70px;
	padding: 40px 40px;
}

.about-header {
	margin: 0 auto;
	margin-bottom: 50px;
}

.about-wrapper {
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}

	h2 {
		color: grey;
		text-align: center;
		margin-bottom: 55px;
	}


}

