.activity-row > div {
	float: left;
}

.activity-row > .col-lg-1 {
	width: 9%;
}

.activity-row > .col-lg-9 {
	width: 91%;
}

@media(max-width: 960px) {
	.activity-row > .col-lg-1 {
		width: 15%;
	}

	.activity-row > .col-lg-9 {
		width: 85%;
	}	
}

@media(max-width: 640px) {
	.activity-row > .col-lg-1 {
		width: 25%;
	}

	.activity-row > .col-lg-9 {
		width: 75%;
	}	
}
