/**
  Communication Hub
*/
body.elm-communication .main-content h3,
#columnLeft .left-filters h3 { margin-bottom: 15px; }
#columnLeft .left-filters ul li { margin-bottom: 5px; }
table.communication-messages { width: 100%; }
table.communication-messages td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  empty-cells: show;
  font-size: 12px;
  padding: 6px 10px;
  vertical-align: middle;
}
table.communication-messages tr:first-child td { border-top: 1px solid #ccc; }
table.communication-messages tr.new td { background-color: #EBEBEB; }
table.communication-messages td.actions { cursor: default; width: 40px; }
table.communication-messages td.from { width: 140px; }
table.communication-messages td.subject { }
table.communication-messages td.date { text-align: right; padding-right: 10px; width: 75px; }

table.data-table.crops td.yields .icon,
body.elm-communication .icon {
  background-image: url(app-icons.png);
  cursor: pointer;
  display: inline-block;
  height: 18px;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  width: 18px;
}
body.elm-communication .icon + .icon { margin-left: 3px; }
body.elm-communication .icon.delete { background-position: -288px -2px; }
body.elm-communication .icon.archive { background-position: 0 -324px; }
body.elm-communication .icon.reply { background-position: -415px -290px; }
body.elm-communication .icon.read { background-position: -416px -228px; }
table.data-table.crops td.yields .icon.edit { background-position: -222px -2px; }

.message-contents { position: relative; }
.message-contents p.actions { position: absolute; right: 0; top: 10px; }
.message-contents h4 { font-size: 15px; margin-bottom: 10px;}
.message-contents .body { margin: 20px 0; }
.message-form .alert { float: left; }
.message-form textarea { min-height: 100px; padding: 5px; width: 100%; }
