/**
  Crops
*/
#cropsForm form ul.fieldset li select#crop_id + label { width: 100px; }
#cropsForm form ul.fieldset li input#name { width: 175px; }
#cropsForm form ul.fieldset li input#coverage {
  margin-right: 10px;
  width: 100px;
}
#cropsForm form ul.fieldset li input#date_planted { width: 100px; }
#cropsForm form ul.fieldset li div.multi-control { width: 270px; }

.crops-modal .modal-body form ul.fieldset li > div { width: 100%; }
.crops-modal .modal-body form ul.fieldset li > div input { width: 95%; }
.crops-modal .modal-body form input[type="text"].small { width: 100px }
.crops-modal .modal-body form ul.fieldset li > div input + select { margin-left: 15px; }
.crops-modal .modal-body form ul.fieldset li.inline { float: left; width: 46%; }

.crops .container { border: 1px solid #ccc; padding: 0; }
table.data-table.crops { border: 1px solid white; }
table.data-table.crops th,
table.data-table.crops td {
  background-color: #EFEFEF;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: #ACACAC;
  font-size: 12px;
  padding: 9px 4px;
  text-align: center;
}
table.data-table.crops tr.alt td { background-color: #EFEFEF; }
table.data-table.crops th:first-child,
table.data-table.crops td:first-child { border-left: 0; }
table.data-table.crops th {
  background-color: #7B6B59; /*#ABACAD;*/
  /*border-bottom: 4px solid #A3A4A5;*/
  border-top: 0;
  color: white;
}
table.data-table.crops td {  }
table.data-table.crops tr:first-child td { border-top: 0; }
table.data-table.crops td.yields { display: none; padding: 20px; }
table.data-table.crops td.yields table { border: 1px solid #ccc; width: 100%; }
table.data-table.crops td.yields table th {
  background-color: #E6E6E6;
  border: 0;
  border-bottom: 1px inset white;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.1) inset;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.1) inset;
  box-shadow: 0px 1px 3px rgba(0,0,0,.1) inset;
  color: #ACACAC;
}
table.data-table.crops td.yields table td ul li {
  line-height: 16px;
  padding: 5px;
  position: relative;
  text-align: left;
}
table.data-table.crops td.yields table td ul li:hover { background-color: #e6e6e6; }
table.data-table.crops td.yields table td ul li:first-child { margin-top: 0; }
table.data-table.crops td.yields table td ul li p { line-height: 16px; }
table.data-table.crops td.yields table td ul li > div.actions {
  background-color: #e6e6e6;
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  display: none;
  padding: 8px;
  position: absolute;
  top: 25px;
  right: 0;
  text-align: right;
  z-index: 100;
}
table.data-table.crops td.yields table td ul li:hover > div { display: block; }
table.data-table.crops td.yields table td ul li > div.actions a { display: block; margin-top: 8px; text-decoration: none; }
table.data-table.crops td.yields table td ul li > div.actions a:first-child { margin-top: 0; }
table.data-table.crops td.yields table td ul li > div.actions a:hover { text-decoration: underline; }
table.data-table.crops td.yields table td ul li .icon { float: right; vertical-align: middle; }
table.data-table.crops td.yields table td ul li ul { margin-left: 5px; }
table.data-table.crops td.yields table td ul li ul li { line-height: 1; padding: 2px 5px; }
/** Success message */
.modal.success-message { min-height: 100px; width: 250px; }
.modal.success-message .modal-body { text-align: center; }
.modal.success-message .modal-body .buttons-set { margin-top: 20px; }

/** Crops Form */
#cropsAddForm { margin-top: 20px; }
#cropsAddForm .buttons-set .btn + .btn { margin-left: 10px; }