@import "compass/css3";

.section-hero {
  width: 100%;
  // min-height: 400px;
  background-image: url(/assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 100px;

  .hero-headline {
    margin: 0 auto;
    max-width: 771px;
    height: auto;
    padding: 10px;
    padding-bottom: 30px;
    img {
      width: 100%;
    }
    span {
      display: block;
    }
  }
  
}

.hero-action-block {

  .hero-action-block-margin {
    margin: 0 auto;
    padding: 10px;
  }

  .hero-action-block-border {
    max-width: 467px;
    border: 10px solid rgba(255,255,255,0.9);
    background: rgba(255,255,255,0);
    width:auto;
    margin: 0 auto;
    height: auto;
  }

  .hero-action-block-content {
    font-size: 16px;
    height: auto;
    max-width: 460px;
    margin: 3px;
    background: rgba(255,255,255,0.9);
    padding: 11px 13px;
    text-align: center;
    .get-started {
      margin: 10px auto 0px auto;
      // margin: 10px 0px;
    }  
  }

}

.section-tool {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 0 5%;
  padding-bottom: 60px;
  h1 {
    padding-top: 5%;
    color: #6b722b;
  }
  h2 {
    color: #6d6d6d;
  }
}

ul.tools {
  margin-top: 20px;
  width: 100%;
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  @include box-pack(center);
  li {
    @include box-flex(1);
    span {
      display: block;
      text-transform: uppercase;
    }
  }
  img { height: 100px; width: 100px; }
}

.section-claims {
  width: 100%;
  background-color: white;
  position: relative;
  img {
    position: absolute;
    left: 15%;
    bottom: -40px;
    float: left;
    max-width: 720px;
    height: auto;
  }
  .section-claims-content {
    position: relative;
    left: 55%;
    width: 310px;
    padding-top: 130px;
    padding-bottom: 130px;
    // padding-right: 200px;
    h1 {
      color: #4b4b4b;
      font-size: 36px;
      padding-bottom: 10px;
    }
    h2 {
      color: #6d6d6d;
      font-size: 20px;
      padding-bottom: 10px;
    }
    a {
      color: #f07519;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

}

.section-track {
  background-color: #7dc6ca;
  background-image: url('/assets/graph.png');
  background-repeat: no-repeat;
  background-position: 100% 170%;
  overflow: hidden;

  .section-track-content {
    position: relative;
    left: 15%;
    width: 400px;
    padding-top: 130px;
    padding-bottom: 130px;
    // padding-right: 200px;
    h1 {
      color: white;
      font-size: 36px;
      padding-bottom: 10px;
    }
    h2 {
      color: white;
      font-size: 20px;
      padding-bottom: 10px;
    }
    a {
      color: #4b4b4b;
      font-size: 18px;
      text-transform: uppercase;
    }
  }  
}

@media only screen and (max-width: 1100px) {
  .section-claims img {
    max-width: 620px;
    bottom: -30px;
    left: 10%
  }
  .section-claims .section-claims-content {
    padding-top: 105px;
    padding-bottom: 105px;    
  } 

  .section-track {
    background-size: 80% 80%;
    .section-track-content {
      padding-top: 105px;
      padding-bottom: 105px;    
    }
  }

}

@media only screen and (max-width: 850px) {
  .section-claims img {
    max-width: 520px;
    bottom: -30px;
    left: 5%
  }

  .section-claims .section-claims-content {
    padding-top: 80px;
    padding-bottom: 80px;
    left: 50%;
  }

  .section-track {
    background-size: 68% 68%;
  }
}

@media only screen and (max-width: 675px) {

  .section-track {
    background-size: 61% 61%;
  }  

  .section-track .section-track-content {
    width: 266px;
    padding-top: 50px;
    padding-bottom: 50px;    
    h1 { font-size: 20px; }
    h2 { font-size: 15px;  }
    a { font-size: 12px; }    
  }

  .section-claims img {
    max-width: 420px;
    bottom: -20px;
    left: 5%
  }

  .section-claims .section-claims-content {
    padding-top: 70px;
    padding-bottom: 70px;
    left: 50%;
    width: 230px;
    h1 { font-size: 20px; }
    h2 { font-size: 15px;  }
    a { font-size: 12px; }
  }

  .hero-headline { font-size: 30px; }

  .section-tool {
    h1 { font-size: 20px; }
    h2 { font-size: 15px; }
    padding-bottom: 15px;
  }

  ul.tools {
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    @include display-box;
    @include box-orient(vertical);
    @include box-align(start);
    @include box-pack(center);
    img { height: 50px; width: 50px; }
    li {
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(center);
      @include box-pack(center);
      // margin: 10px 0px;

      span {
        display: inline-flex;
        font-size: 20px;
        padding-left: 20px;
      }
    }
  }

}

@media only screen and (max-width: 675px) {
  .section-claims img {
    max-width: 320px;
    bottom: -20px;
    left: 5%
  }
  .section-claims .section-claims-content {
    left: 45%;
    padding-top: 40px;
    padding-bottom: 40px;    
  }    
}

@media only screen and (max-width: 480px) {
  .section-claims img {
    display: none;
  }

  .section-track {
    background-image: none;
  }

  .section-claims .section-claims-content {
    width: 250px;
    margin: 0 auto;
    left: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-track .section-track-content {
    width: 250px;
    margin: 0 auto;
    left: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

}