@import "compass/css3";

.article-home {
  h1 { font-size: 36px; }
  h2 { font-size: 20px; }
  h3 { font-size: 15px; }
}

.section-hero {
  width: 100%;
  background-image: image-url("hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 0px 100px 0px;

  .hero-headline {
    margin: 0 auto;
    max-width: 771px;
    height: auto;
    padding: 10px 10px 30px 10px;
    img { width: 100%; }
    span { display: block; }
  }

}

.hero-action-block {

  .hero-action-block-margin {
    margin: 0 auto;
    padding: 10px;
  }

  .hero-action-block-border {
    max-width: 467px;
    border: 10px solid rgba(255,255,255,0.9);
    background: rgba(255,255,255,0);
    width:auto;
    margin: 0 auto;
    height: auto;
  }

  .hero-action-block-content {
    font-size: 16px;
    height: auto;
    max-width: 460px;
    margin: 3px;
    background: rgba(255,255,255,0.9);
    padding: 11px 13px;
    text-align: center;
    .get-started { margin: 0px auto; }
  }

}

.section-tool {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 0 5%;
  padding-bottom: 60px;
  h1 { padding-top: 5%; color: #6b722b; }
  h2 { color: #6d6d6d; }
}

ul.tools {
  margin-top: 20px;
  width: 100%;
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  @include box-pack(center);
  li {
    @include box-flex(1);
    span { display: block; text-transform: uppercase; }
  }
  // embed { 
  //   // fill: #6b722b;
  //   fill: red;
  //   height: 100px; 
  //   width: 100px; 
    
  // }
  .section-tool-icon {
    fill: black;
    height: 100px;
    width: 100px;
    @include filter(invert(30%));
  }
  .section-tool-icon:hover {
    fill: #6b722b;
    cursor: pointer;
    @include filter(invert(0%));
  }
}

.section-claims {
  width: 100%;
  background-color: white;
  position: relative;
  img {
    position: absolute;
    left: 15%;
    bottom: -40px;
    float: left;
    max-width: 720px;
    height: auto;
  }

  .section-claims-content {
    position: relative;
    left: 55%;
    width: 310px;
    padding: 130px 0px 130px 0px;
    h1 { color: #4b4b4b; padding-bottom: 10px; }
    h2 { color: #6d6d6d; padding-bottom: 10px; }
    a { color: #f07519; font-size: 18px; text-transform: uppercase; }
  }

}

.section-track {
  background-color: #7dc6ca;
  background-image: image-url('graph.png');
  background-repeat: no-repeat;
  background-position: 100% 170%;
  overflow: hidden;

  .section-track-content {
    position: relative;
    left: 15%;
    width: 400px;
    padding-top: 130px;
    padding-bottom: 130px;
    // padding: 3% 10%;
    h1 { color: white; padding-bottom: 10px; }
    h2 { color: white; padding-bottom: 10px; }
    a { color: #4b4b4b; font-size: 18px; text-transform: uppercase; }
  }  
}

.section-learn {
    min-height: 550px;
    background: url('home-learn-bg-image.png');
    background-size: cover;
  .section-learn-content {
    text-align: center;
    h1 { color: #6d6d6d; padding-bottom: 10px; color: white; margin-top: 15%; }
    h2 { color: #6d6d6d; padding-bottom: 10px; color: white;}
    a { color: #4b4b4b; font-size: 18px; text-transform: uppercase; color: white;}
    padding: 3% 10%;
  }
}

.section-share {
  background-color: white;
  max-height: 400px;
  padding-top: 0 10%;
  @include clearfix;
  .section-share-content {
    h2 { color: #6d6d6d; padding-bottom: 10px; padding-top: 0; }
    a { font-size: 18px; text-transform: uppercase; }
    padding: 10% 10%;
    width: 50%;
    float: left;
  }
  .section-share-image {
    width: 50%;
    padding: 10% 5%;
    padding-right: 10%;
    float: right;
  }
}

.section-grow {
    padding-top: 5%;
  .section-grow-image {
    float: left;
    width: 50%;
    padding-left: 15%;
  }
  .section-grow-content {
    h2 { color: #6d6d6d; }
    a { color: #4b4b4b; font-size: 18px; text-transform: uppercase; }
    padding: 3% 6%;
    float: right;
    width: 50%;
  }
}

.section-signup {
  display: none;
  height: 300px;
  background-color: red;
}

.home-sign-up-btn { margin: 0 auto; }

@media only screen and (max-width: 1100px) {
  .section-claims img { max-width: 620px; bottom: -30px; left: 10% }
  .section-claims .section-claims-content { padding-top: 105px; padding-bottom: 105px; }
  .section-track {
    background-size: 80% 80%;
    .section-track-content { padding-top: 105px; padding-bottom: 105px; }
  }

}

@media only screen and (max-width: 850px) {
  .section-claims img { max-width: 520px; bottom: -30px; left: 5% }
  .section-claims .section-claims-content { padding-top: 80px; padding-bottom: 80px; left: 50%; }
  .section-track { background-size: 68% 68%; }
}

@media only screen and (max-width: 675px) {

  .section-track { background-size: 61% 61%; }

  .section-track .section-track-content {
    width: 266px;
    padding-top: 50px;
    padding-bottom: 50px;    
    a { font-size: 12px; }    
  }

  .section-learn .section-learn-content, .section-share .section-share-content, .section-grow .section-grow-content {
    margin: 0 auto;
    a { font-size: 12px; }     
  }

  .section-claims img { max-width: 420px; bottom: -20px; left: 5% }

  .section-claims .section-claims-content {
    padding-top: 70px;
    padding-bottom: 70px;
    left: 50%;
    width: 230px;
    a { font-size: 12px; }
  }

  .hero-headline { font-size: 30px; }

  .section-tool {
    padding-bottom: 15px;
  }

  ul.tools {
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    @include display-box;
    @include box-orient(vertical);
    @include box-align(start);
    @include box-pack(center);
    img { height: 50px; width: 50px; }
    li {
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(center);
      @include box-pack(center);
      span {
        display: inline-flex;
        font-size: 20px;
        padding-left: 20px;
      }
    }
  }

}

@media only screen and (max-width: 675px) {
  .section-learn {min-height: 230px; padding: 2%;}
  .section-claims img { max-width: 320px; bottom: -20px; left: 5%; }
  .section-claims .section-claims-content { left: 45%; padding: 40px 0px; }
  .section-grow-image, .section-share-image { display: none;}
  .section-grow .section-grow-content, .section-share .section-share-content { width: 100%; padding: 10% 10%; text-align: center;}
}

@media only screen and (max-width: 480px) {
  .section-claims, .section img { display: none; }
  .section-track { background-image: none; }
  .section-claims .section-claims-content {
    width: 250px;
    margin: 0 auto;
    left: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center
  }

  .section-track .section-track-content {
    width: 250px;
    margin: 0 auto;
    left: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center
  }

}