/**
 *	Map page
 */
body.map { overflow: hidden; }
body.map .wrapper { overflow: visible; }
body.map div.main-container { padding-top: 0; }
div.map-container { position: relative; }
/** Map Canvas */
div#map-canvas {
	/*height: 350px;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
div.map-marker > div {
	background: #818940;
	background: rgba(129,137,64,.87);
	/*border: 1px solid #595d3b;*/
	color: #414710;
	line-height: 1.2;
	padding: 25px;
	/*height: 225px;*/
	width: 470px;
}
div.map-marker.small > div { width: 320px; }
div.map-marker > div:after {
	background: url('../images/infobox-arrow.png') no-repeat;
	/*background: #818940;
	background: rgba(129,137,64,.8);*/
	content: '\0020';
	display: block;
	height: 45px;
	position: absolute;
	bottom: -45px;
	left: 40px;
	width: 50px;
}
div.map-marker > div h3 {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
}
div.map-marker > div h3 > span { color: #7acfd3; }
div.map-marker > div div.content { margin-top: 20px; }
div.map-marker > div div.content p {
	font-size: 16px;
	margin-bottom: 10px;
}
div.map-marker > div div.content input[type="text"] {
	border: 1px solid #d6d6d6;
	font-size: 16px;
	float: left;
	padding: 10px 6px;
	width: 410px;
}
div.map-marker > div div.content p.buttons-set { text-align: center; }
div.map-marker > div div.content button.btn { margin: 0; float: none; }
div.map-marker > div div.content button.search {
	background: url('../images/sprites.png') no-repeat -345px -3px;
	float: left;
	margin-left: 10px;
	height: 50px;
	width: 50px;
}
div.map-marker.plot-info > div div.content p.buttons-set { text-align: left; }
div.map-marker.plot-info > div div.content p.buttons-set a {
	color: #fff;
	font-size: 13px;
	text-decoration: underline;
	text-transform: lowercase;
}

#current-location {
	background: #fff;
	background: rgba(255,255,255, .9);
	position: absolute;
	bottom: 0;
	width: 100%;
}
#current-location .centered {
	color: #000;
	margin: 0 auto;
	padding: 10px 0;
	overflow: hidden;
	width: 900px;
}
#current-location .current {
	float: left;
	font-size: 16px;
	text-transform: uppercase;
}
#current-location .update {
	float: right;
	font-size: 12px;
	position: relative;
}
#current-location .update label { margin-right: 14px; }
#current-location .update input {
	border: 0;
	background: #ccc;
	margin: 0;
	padding: 4px 32px 4px 6px;
}
#current-location .update a.button {
	position: absolute;
	right: 5px;
	bottom: 0;
}
