.modal-backdrop {
  background: #fff;
  margin: 0 !important;
  top: 0 !important;
  opacity: .6;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 500;
}
.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0); }
.modal-backdrop.fade.in { opacity: .6; filter: alpha(opacity=60); }

.modal {
  background: #fff;
  @include box-shadow(0 3px 10px rgba(0,0,0,0.4));
  overflow: hidden;
  padding: 25px;
  position: fixed;
  width: 400px;
  margin-left: -200px;
}

.modal-body {
  max-height: 450px;
}

.modal a.close {
  background: rgba(250,250,250,.4) url("/assets/sprite.png") no-repeat -185px -40px;
  display: block;
  height: 35px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  text-indent: 110%;
  width: 35px;
  white-space: nowrap;
}

@media (max-width: 767px) {  
  .modal {
    width: auto;
    margin-left: auto;    
  }
}