
/**
  Photos
*/
.blocked-content.photo-timeline {
  height: 100px;
  padding: 0;
  position: relative;
  width: 640px;
}
.photo-timeline .container {
  margin: 0 35px;
  overflow: hidden;
}
.photo-timeline ul.list {
  position: relative;
  min-width: 580px;
}
.photo-timeline ul.list li {
  margin-right: 8px;
  position: relative;
  width: auto;
}
.photo-timeline ul.list li img {
  border: 0;
  height: 87px;
}
.photo-timeline ul.list li a.remove {
  background: #59601C;
  border-radius: 10px;
  color: #fff;
  line-height: 12px;
  font-size: 11px;
  text-transform: uppercase;
  padding: 3px 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.photo-timeline a.arrow {
  background: transparent url('sprites.png') no-repeat -1px -459px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  height: 40px;
  width: 30px;
}
.photo-timeline a.arrow.prev { left: 0; }
.photo-timeline a.arrow.next { background-position: -55px -459px; right: 0; }
/*.photo-timeline ul li a { position: absolute; bottom: 0; left: 0; }*/
.photo-main figure img { width: 630px; }
#photosForm { margin: 30px 0; }
#photosForm .fieldset { border-top: 4px double #80883b; padding-top: 20px; }
#photosForm .fieldset:first-child { border: 0; padding: 0; }
