/** Plot Styles */
#plot-edit-form textarea { width: 600px; }
#plot-edit-form .buttons-set a { margin-top: 10px; }
/** Plot People */
.plot.people .associate { border-top: 1px solid #bcbcbc; padding-top: 25px; }
.plot.people .associate h3 { font-size: 28px; margin-bottom: 10px; }
.plot.people .associate .f-left { margin-right: 50px;  width: 300px; }
.plot.people .associate .action { padding-top: 20px; width: 200px; }
.plot.people .associate .action .get-involved > span { font-size: 16px; padding: 8px 26px; }
