/* Generic Post */
// .post { margin: 35px 0; padding-bottom: 25px; border-bottom: 1px solid #777777; }
// .post-gallery-images { list-style-type: none; }
// .post-content { padding-top: 20px; }

// .post-gallery-image:first-child { margin-left: 0 }
// .post-gallery-image {
//   float: left;
//   max-width: 400px;
//   max-height: 200px;
//   overflow: hidden;
//   margin: 0 20px;
//   border: 1px solid #777777;
// }
// .post-gallery-image img { width: 100%; }

/* Posts Feed */
.posts-feed { 
    @include clearfix;
    // background: white;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px; padding-right: 15px;
    ul { padding-left: 30px; padding-right: 30px; }
}

.posts-feed .posts-feed-top {
    background: #7dc6ca url("blue-noise.jpg") repeat;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid #75bbbf;
    @include box-shadow(inset 0 -1px 1px rgba(255,255,255,0.3));
    // margin-bottom: 20px;
    min-height: 90px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    width: 100%;
    color: white;
    .posts-feed-top-headline {
        padding-top: 15px;
        padding-bottom: 15px;
        h1 {
            font-weight: normal;
            color: white; 
            font-size: 30px; 
            a { font-size: 14px; color: #58585A; text-decoration: underline; }
        }
        h2 { color: white; font-size: 18px; font-weight: normal; }        
    }
}

.post {
    @include clearfix;
    // padding: 20px;
}

.post-left {
    float: left;
    width: 10%;
    padding-top: 2%;
    @include clearfix;
}


.post-right {
    float: left;
    width: 70%;
    padding: 2.5%;
    @include clearfix;
    .post-right-author-name {
        color: #6c712e;
        font-size: 18px;
        a { color: #6c712e; }
    }
    .post-right-posted-date {
        color: #6c712e;
        font-size: 14px;
        a { color: #6c712e; }
    }
    .post-right-likes {
        a { 
            color: #6c712e; 
            span.icon-heart {
                color: #ff8b35;
            }
        }
    }
    h1 {
        margin-top: 0;
        font-size: 23px;
        padding-top: 18px;
    }
}

.posts-feed-content { 
    // @include clearfix;
    background-color: white;
    padding-top: 2%;
}

/* Posts User */
.posts-user {

}

