@import "compass/css3";
@import "compass/utilities";

ul.list-block { float: left; margin: 0; width: 100%; }
ul.list-block li { display: block; float: left; }

// .main-container { background: #ecf0df url(bg-noise.jpg) repeat; }

.profile-layout { 
    @include clearfix;
    background: #fff; 
    position: relative; 
    margin: 0 auto; 
    width: 1140px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-layout .profile-top {
    background: #7dc6ca url("blue-noise.jpg") repeat;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid #75bbbf;
    @include box-shadow(inset 0 -1px 1px rgba(255,255,255,0.3));
    margin-bottom: 20px;
    min-height: 60px;
    padding: 20px 0;
    position: relative;
    top: -5px;
    width: 1140px;
    float: left;
    color: white;
    .pushed { float: left; padding-left: 310px; }
    h1 { 
        color: #fff; 
        font-size: 30px; 
        a {
            font-size: 14px;
            color: #58585A;
            text-decoration: underline;
        }
    }
    ul li, ul li a { 
        line-height: 18px; 
        margin-right: 7px;
        color: #fff; 
        span.icon { vertical-align: bottom; }
    }
}

.profile-layout .profile-left {
    float: left;
    margin: 20px 0 25px 25px;
    position: relative;
    width: 261.25px;
    margin: 30px 0 20px 20px; 
    position: absolute; 
    z-index: 100;
    figure {
        margin: 0 0 20px;
        img {
            border: 0;
            @include border-radius(0);
            padding: 0;
            width: 100%;
        }
    } 
    .social-links { margin: 25px 0; }
    .social-links li { margin-bottom: 20px;}
}

.profile-layout .profile-right {
    float: right;
    margin: 20px 25px 25px 0;
    min-height: 300px;
    position: relative;
    width: 830px;
    margin: 0; 
    min-height: 400px; 
    padding-bottom: 50px;
    .inner-content-wrapper {
        width: 97%;
        float: left;
        margin: 0 20px 20px 0;
        position: relative;
        .profile-content { margin-top: 20px; }
        .profile-content h3 {
            border-bottom: 1px solid #bcbcbc;
            clear: both;
            color: #343434;
            font-size: 14px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            text-transform: uppercase;
        }
        .profile-content { clear: both; }
        .profile-content .buttons-set  { margin: 35px 0 0; }
        .profile-content .buttons-set .btn > span { font-size: 12px; }
        .profile-content article, .profile-content .buttons-set + h2 { margin-top: 35px; }
    }
    h2 {
        border-bottom: 1px solid #bcbcbc;
        clear: both;
        color: #343434;
        font-size: 14px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
}

.profile-layout .profile-navigation { 
    // border-bottom: 1px solid #bcbcbc;
    // li { border-bottom: 1px solid #bcbcbc; }
    li:first-child { border-top: 1px solid #bcbcbc; }
    li a {
        color: #222;
        display: block;
        font-size: 14px;
        line-height: 22px;
        padding: 10px 5px;

        @include transition-property(background-color, color);
        @include transition-duration (0.1s);
        @include transition-timing-function(ease-in-out);

        .icon { margin: 0 10px 0 5px; vertical-align: top; }
    }

    li a:hover,  li.active a { background-color: #bcbcbc; color: #fff; }
    li a:hover .icon.person, li.active a .icon.person { background-position: -5px -249px; }
    li a:hover .icon.drawer, li.active a .icon.drawer { background-position: -4px -287px; }
    li a:hover .icon.cog, li.active a .icon.cog { background-position: -5px -328px; }            
}

.profile-about {
    margin-top: 25px;
}

.profile-about-header {
    margin-top: 25px;
}

.name {
    float: left;
}

.city {
    float: right;
}

.profile-about-bioandimage {
    margin-top: 25px;
}

.profile-about-btn {
    margin-top: 25px
}

.profile-blog {
    h1 {
        font-size: 23px;
    }
}