.profile {
	background: white;
	@include clearfix;
	// padding: 10px auto;
}

.profile-top, .profile-bottom {
	padding: 20px;
	// padding-left: 20px;
	// padding-right: 20px;
}

.profile-top {
	background: #7dc6ca;
}

.profile-sidebar {
	margin-top: -40px;
}

.profile-content {
	// margin: 2px;
}