$light-blue: #7dc6ca;
$green: #6b722b;
$orange: #f07519;
$brown: #562a09;
$dark-grey: #4b4b4b;
$grey: #ccc;

.light-blue { color: #7dc6ca; }
.green { color: #6b722b; }
.orange { color: #f07519; }
.brown { color: #562a09; }
.dark-grey { color: #4b4b4b; }