/** Buttons & form defaults */
a.btn,
button,
button.btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1;
  margin: 0;
  padding: 0;
}
button[disable="disable"],
button.btn[disable="disable"] { opacity: .6; }
a.btn > span,
button > span,
button.btn > span {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.4);
    /*box-shadow: 1px 0 1px rgba(0,0,0,.4);*/
  color: #fff;
    cursor: pointer;
    display: block;
    font: 14px/1.2 "Sanchez", serif;
  padding: 10px 14px;
    text-align: center;
    text-transform: uppercase;
}
a.btn.wider > span,
button.wider > span,
button.btn.wider > span { padding: 8px 16px; }
a.btn:active > span,
button:active > span,
button.btn:active > span { position: relative; top: 1px; /*border-bottom-color: rgba(0,0,0,.1);*/ }
a.btn-orange > span,
button.btn-orange > span {
    background: #ff8b35; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff8b35 0%, #f0751a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8b35), color-stop(100%,#f0751a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff8b35 0%,#f0751a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff8b35 0%,#f0751a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff8b35 0%,#f0751a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff8b35 0%,#f0751a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8b35', endColorstr='#f0751a',GradientType=0 ); /* IE6-9 */
}
a.btn-blue > span,
button.btn-blue > span {
    background: #87d6da; /* Old browsers */
    background: -moz-linear-gradient(top,  #87d6da 0%, #6fafb3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87d6da), color-stop(100%,#6fafb3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #87d6da 0%,#6fafb3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #87d6da 0%,#6fafb3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #87d6da 0%,#6fafb3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #87d6da 0%,#6fafb3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d6da', endColorstr='#6fafb3',GradientType=0 ); /* IE6-9 */
}
a.btn-blue:hover > span,
button.btn-blue:hover > span { background: #6fafb3; }
a.btn-green > span,
button.btn-green > span {
    background: #87d6da; /* Old browsers */
    background: -moz-linear-gradient(top,  #8b9438 0%, #6b722b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b9438), color-stop(100%,#6b722b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8b9438 0%,#6b722b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8b9438 0%,#6b722b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8b9438 0%,#6b722b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8b9438 0%,#6b722b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9438', endColorstr='#6b722b',GradientType=0 ); /* IE6-9 */
}
a.btn-green:hover > span,
button.btn-green:hover > span { background: #6b722b; }
a.btn-grey > span,
button.btn-grey > span {
  background-color: red;
  border: 2px solid #a5a5a5;
  border-top: 2px solid #e5e5e5;
}
.btn.oversized > span { padding: 10px 15px; }
.btn.icon { height: auto; display: block; width: auto; }
.btn.icon > span > span {
    background: url("sprite.png") no-repeat -4px -99px;
    padding-left: 35px;
}
.btn.icon.contact > span > span { background-position: -4px -99px; }
.btn.icon.follow > span > span { background-position: -4px -146px; padding-left: 22px; }
.btn.icon.following > span > span { background-position: -4px -146px; padding-left: 22px; }
.btn.icon.secure > span > span { background-position: -4px -378px; padding-left: 40px; }
