@import "compass/css3/images";

/** Buttons & form defaults */
.button[disable="disable"] { opacity: .6; }
.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1;
  margin: 0;
  padding: 0;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0,0,0,.4);
  /*box-shadow: 1px 0 1px rgba(0,0,0,.4);*/
  color: #fff;
  cursor: pointer;
  display: block;
  font: 14px/1.2 "Sanchez", serif;
  padding: 7px 11px;
  text-align: center;
  text-transform: uppercase;
  * {
    vertical-align: middle;
  }
}

.button.wider { padding: 8px 16px; }
.button:active { position: relative; top: 1px; /*border-bottom-color: rgba(0,0,0,.1);*/ }
.button.btn-orange { background: #ff8b35; @include background(linear-gradient(top, #ff8b35 0%, #f0751a 100%)); }
.button.btn-blue { background: #87d6da; @include background(linear-gradient(top, #87d6da 0%, #6fafb3 100%)); }
.button.btn-blue:hover { background: #6fafb3; }
.button.btn-green { background: #87d6da; @include background(linear-gradient(top, #8b9438 0%, #6b722b 100%)); }
.button.btn-green:hover { background: #6b722b; }
.button.btn-grey { background-color: red; border: 2px solid #a5a5a5; border-top: 2px solid #e5e5e5; }

.button.btn-orange a {
  color: white
}
