nav.adminlinks a:first-child,form.stdform.overlay div.cropname:first-child,div.fieldcontainer.wide,div.fieldcontainer div.plantwrap div.plant div.successions span.succession:first-child,div.actionitems:first-child,div.farmusers ul.userlist h3 + li,div.farmusers ul.userlist li.clearer + li { margin-left:0; }
div.fieldsidebarwrap div.fieldsidebar.fieldeditform, div.fieldsidebarwrap div.fieldsidebar.cropadder, div.fieldcontainer div.plantwrap div.plant div.successions span.succession.active div.tooltipwrap,div.fieldcontainer div.plantwrap div.plant div.successions span.succession form.plantingdata,div.fieldcontainer div.plantwrap div.plant div.successions span.succession span.originalstyle,div.fieldcontainer div.plantingeditorwrap div.plantingeditor ul.stdformlist li.growthinfo { display:none; }
div#preloadedimages { display:none; height:0; width:0; }
img.loading { display:none; position:relative; }
div.ajaxfeedback img { display:inline; position:relative; top:3px; }
div.ajaxfeedback
{
  position:fixed;
  z-index:100;
  right:0;
  bottom:-26px;
  background:#f3e3cc;
  border:1px solid #c3b39c;
  border-bottom:none;
  border-right:none;
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie-opacity);
  filter:alpha(opacity=96);
  opacity:0.96;
  padding:2px 8px 5px;
}