/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

.loader {
  background: url(loader.gif) no-repeat;
  @include background-size(20% 20%);
  font-size: 14px;
  display: inline-block;
  padding-left: 28px;
  white-space: nowrap;
}

.loader.green { 
  background: url(loader-green.gif) no-repeat; 
}

#action-loader {
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  z-index: 1000;
}

/**
 * General Styles & Helpers
 */
.text-hide { display: block; text-indent: 100%; white-space: nowrap; overflow: hidden; }
.f-left, .fLeft { float: left; }
.f-right, .fRight { float: right; }
.t-right, .tRight { text-align: right; }
.t-center, .tCenter { text-align: center; }
ul.list-inline { margin: 0; }
ul.list-inline li { display: inline; }
ul.list-block { float: left; margin: 0; width: 100%; }
ul.list-block li { display: block; float: left; }
.separator { font-size: 14px; margin: 0 8px 0 11px; }

/** Two columns */

/**
 * Account/Profile Pages
 *      - Profile
 *      - Plot
 */
.profile-layout { background: #fff; position: relative; }
.profile-layout .main-content { margin: 0; min-height: 400px; padding-bottom: 50px; width: 100%; }
.profile-layout .main-content .inner-content-wrapper {
    float: right;
    margin: 0 20px 20px 0;
    position: relative;
    width: 670px;
}
/** Column Left */
.profile-layout .column-left { margin: 30px 0 20px 20px; position: absolute; z-index: 100; }
.profile-layout .column-left figure { margin: 0 0 20px; }
.profile-layout .column-left figure img {
    border: 0;
    @include border-radius(0px, 0px);
    padding: 0;
    width: 220px;
}
.profile-layout .column-left .social-links { margin: 25px 0; }
.profile-layout .column-left .social-links li { margin-bottom: 20px;}
.profile-layout .column-left .utility-navigation { }
.profile-layout .column-left .utility-navigation li { border-bottom: 1px solid #bcbcbc; }
.profile-layout .column-left .utility-navigation li:first-child { border-top: 1px solid #bcbcbc; }
.profile-layout .column-left .utility-navigation li a {
    color: #222;
    display: block;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 5px;

    -moz-transition: background-color .1s ease-in-out, color .1s ease-in-out;
    -webkit-transition: background-color .1s ease-in-out, color .1s ease-in-out;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}
.profile-layout .column-left .utility-navigation li a:hover,
.profile-layout .column-left .utility-navigation li.active a { background-color: #bcbcbc; color: #fff; }
.profile-layout .column-left .utility-navigation li a .icon { margin: 0 10px 0 5px; vertical-align: top; }
.profile-layout .column-left .utility-navigation li a:hover .icon.person,
.profile-layout .column-left .utility-navigation li.active a .icon.person { background-position: -5px -249px; }
.profile-layout .column-left .utility-navigation li a:hover .icon.drawer,
.profile-layout .column-left .utility-navigation li.active a .icon.drawer { background-position: -4px -287px; }
.profile-layout .column-left .utility-navigation li a:hover .icon.cog,
.profile-layout .column-left .utility-navigation li.active a .icon.cog { background-position: -5px -328px; }
.profile-layout .column-left .content { margin-top: 20px; }
.profile-layout .column-left .content h3 {
    border-bottom: 1px solid #bcbcbc;
    clear: both;
    color: #343434;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
/** Main Content */
.profile-layout .main-content .top {
    background: #7dc6ca url("blue-noise.jpg") repeat;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid #75bbbf;
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    margin-bottom: 30px;
    min-height: 60px;
    padding: 20px 0;
    position: relative;
    top: -5px;
    width: 960px;
}
.profile-layout .main-content .top .pushed { float: right; padding-right: 20px; width: 670px; }
.profile-layout .main-content .top h1 { color: #fff; font-size: 30px; }
.profile-layout .main-content .top h1 a {
    font-size: 14px;
    color: #58585A;
    text-decoration: underline;
}
.profile-layout .main-content .top ul { }
.profile-layout .main-content .top ul li { line-height: 18px; margin-right: 7px;  }
.profile-layout .main-content .top ul li span.icon { vertical-align: bottom; }
.profile-layout .main-content .top ul li,
.profile-layout .main-content .top ul li a { color: #fff; }
/** Nav menu */
.main-content nav.styled {
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 35px;
    float: left;
    width: 100%;
}
.main-content nav.styled ul { position: relative; top: 1px; }
.main-content nav.styled ul li { margin-right: 5px; }
.main-content nav.styled ul li a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #bebebe;
    border-bottom: 1px solid #bebebe;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: block;
    line-height: 1;
    margin-top: 3px;
    padding: 10px 35px;
}
.main-content nav.styled ul li a:hover { }
.main-content nav.styled ul li.is-active { }
.main-content nav.styled ul li.is-active a {
    background-color: #fff;
    border: 1px solid #bebebe;
    border-bottom-color: #fff;
    color: #022222;
    margin-top: 0;
    padding: 13px 35px 10px;
}
/** General Selectors */
.profile-layout .main-content .content { clear: both; }
.profile-layout .main-content .content .buttons-set  { margin: 35px 0 0; }
.profile-layout .main-content .content .buttons-set .btn > span { font-size: 12px; }
.profile-layout .main-content .content article,
.profile-layout .main-content .content .buttons-set + h2 { margin-top: 35px; }
.profile-layout .main-content h2 {
    border-bottom: 1px solid #bcbcbc;
    clear: both;
    color: #343434;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.main-content .blocked-content {
    color: #848484;
    clear: both;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 0;
}
.main-content .blocked-content > h4 { }
.main-content .blocked-content > p { line-height: 1.5; margin-bottom: 20px; }
/** About Edit page */
#about-edit-form textarea { width: 600px; }
/** Listings: plots & people */
ul.list-block li h3 { font-size: 18px; line-height: 24px; margin-bottom: 5px; }
ul.list-block li h3 a:hover { text-decoration: underline; }
ul.list-block li p.role { font-size: 14px; }
/** Detailed Listings */
ul.list-block.list li { margin-bottom: 10px; width: 100%; }
ul.list-block.list li figure {
    float: left;
    margin-right: 25px;
    width: 160px;
}
ul.list-block.list li div.details {
    float: left;
    margin-left: 5px;
    padding: 8px 0;
    width: 400px;
}
ul.list-block.list li div.details p.role { color: #343434; margin-bottom: 15px; }
/*ul.list-block.list li div.details p.buttons-set { margin-top: 15px; }
ul.list-block.list li div.details p.buttons-set button { width: auto; }*/
/** Grid Listings */
/*ul.list-block.grid  { }
ul.list-block.grid li { margin-right: 10px; width: 150px; }
ul.list-block.grid li:last-child { margin-right: 0; }
ul.list-block.grid li figure { margin: 0 0 8px; }*/

body.elm-index-index { overflow: hidden; }
body.elm-index-index div.main-container { padding-top: 0; }

/** no route */
.no-route { text-align: center; }
