<div class="header-container">
  <div class="utility">
    <div class="container">
      <ul class="list-inline t-right">
          <%= render 'layouts/navigation' %>
      </ul>
    </div>
  </div>

  <header id="header" class="container clearfix">
    <%= render 'layouts/messages' %>
    <h1>
        <a href="/" title="Every Last Morsel" class="ext-hide">
            <img src="/assets/logo.gif" alt="Every Last Morsel" title="Every Last Morsel" />
        </a>
    </h1>
    <nav role="navigation">
        <ul class="list-inline t-right">
            <li><a href="/map" title="Map">Map</a></li>
            <li><a href="/marketplace" title="Marketplace">Marketplace</a></li>
            <li><a href="/about" title="About Us">About Us</a></li>
            <li><a href="/help" title="Help">Help</a></li>
        </ul>
    </nav>
    <div id="search" class="hide"></div>
  </header>
</div>